.jog-ui-scrolllist-chunk {  
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.jog-ui-scrolllist-chunk-hidden {  
  visibility: hidden;
  xdisplay: none;
}
