.jog-ui-simplescrolllist {  
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-x: hidden;
  overflow: auto;
  position: absolute;
  width: 100%;
}

.jog-ui-simplescrolllist_spacer {  
  background: red;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}