.jog-ui-simplescrolllist {  
  background: #e2e9f1;
}

.demo-item {  
  background: #fff;
  border-radius: 4px;
  border: solid 1px #d8dce6;
  margin: 10px 10px 0px 10px;
  transform: translate3d(0, 0, 0);
}

.demo-item-header {  
  padding: 8px;
}

.demo-item-icon {  
  background-size: 100% 100%;
  background: #D8DCE6 url(http://placekitten.com/g/30/30);
  display: inline-block;
  height: 34px;
  margin: 0 4px 0 0;
  vertical-align: top;
  width: 34px;
}

.demo-item-title {  
  color: #576B95;
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}

.demo-item-text {  
  padding: 8px;
}

.demo-item-img {  
  background-size: 100% 100%;
  background: #fff;
  box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, .4);
  height: 312px;
  margin: 0 0 3px -6px;
  width: 312px;
}

.demo-item-footer {  
  background: #e2e9f1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: none;
  border-top: 1px solid #E4E6EA;
  color: #576B95;
  font-weight: bold;
  padding: 8px;
}

