.jog-ui-loading-indicator {  
  border-color: #666 transparent #666 #666;
  border-radius: 8em;
  border-style: solid;
  border-width: 1em;
  font-size: 4px;
  height: 4em;
  margin: auto;
  position: relative;
  width: 4em;
}

.jog-ui-loading-indicator:before {  
  border-color: #fff transparent #fff #fff;
  border-radius: 8em;
  border-style: solid;
  border-width: 1em;
  content: '';
  height: 100%;
  left: -1em;
  mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.8)));
  position: absolute;
  top: -1em;
  transform: scale(1.04);
  width: 100%;
}

.jog-ui-loading-indicator-centered {  
  display: block;
  left: 50%;
  margin: 0 0 0 -2em;
  position: absolute;
  top: 50%;
}