.jog-example-myinput {  
  color: #aaa;
  display: inline-block;
  font-weight: bold;
  margin: 0 6px;
  vertical-align: middle;
  white-space: nowrap;
}

.jog-example-myinput label {  
  margin-right: 10px;
}