body {
  background: #606c88;
}

.jog-ui-chrome {
  background: #31394a;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.jog-ui-chrome.pc {
  box-shadow: 0 0 6px #000;
  cursor: pointer;
  height: 480px;
  left: 50%;
  top: 50%;
  width: 320px;
}

/* Debug for iPAD Layout only */
.jog-ui-chrome.pc {
  height: 322px;
  width: 490px;
}

.jog-ui-chrome_spacer {
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
