body {
  background: #133783;
}

.jog-ui-chrome {
  background: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  /*
  outline: solid 10px #000;
  outline-offset: -10px;
  */
}

.jog-ui-chrome.pc {
  height: 960px;
  margin: 20px auto;
  outline: solid 10px #000;
  position: relative;
  width: 640px;
  zoom: 0.5;
}
