/* test */
body {  
  background: #ffcccc;
}

button {  
  background: #aaa;
  border-radius: 3px;
  border: solid 1px #aaa;
  padding: 20px;
  user-select: none;
}

button.selected {  
  background: #efefef;
}

button.tapped {  
  border: solid 1px #000;
}

button.dbltapped {  
  background: #ffffcc;
}